body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

header{
    margin: 0;
    
    .nav-panel{
      background: linear-gradient(to right,#000,#30c1ee);
      width: 100%;
      height: 15vh;
      z-index: 1;
        
        .logo{
            margin-left: 10%;
            float: left;
            height: 15vh;
            img{
                height: 15vh;
            }
            
        }
        
        ul{

            margin: 0 auto;
            
            width: 450px;
            height: 15vh;
            list-style:none;
            
            li:hover{
                background: #605ca8;  
                transition-duration: 0s;
            }   
            
            li{
                display: inline-block;
                margin: 0 15px;
                padding: 0 10px; 
                height: 15vh;
                transition-duration: 1s;
                font-size: 24px;

                
                a{
                    display: block;
                    margin-top: 6vh;
                    color: #a6a6a6;
                    text-decoration: none;
                    text-transform: uppercase;  
                    
                }
            }
        }
        
    }
}

content {
    

    
    .board{
        
        position: fixed;
       
        left: 50%;
        margin-left: -25%;
        margin-top: 7vh;
        
        height: 60vh;
        width: 50%;
        background: #252525;
        box-shadow: 15px 25.981px 43px 0px rgb( 12, 4, 71 );
        
        .cells-box:before{
            
            display: block;
            padding-top: 100%;
        }
        
        .cells-box{
            position: relative;
            width: 50vh;
            margin: 10px;
            margin: 6% auto;
            
            
            .cell:hover{
             
                box-shadow: 0 0 30px 10px #ffffbe;
 
            }
            
            .cell{
                margin-left:3%;
                margin-top: 3%;
                float: left;
                width: 30%;
                height: 15vh;
                box-sizing: border-box;
                background: #444;
                border: 1px solid #04c4f2;
                background:#605ca8;
                cursor: pointer;       
            }
        }   
        
    }
    
    .indicator-turn:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .indicator-turn{
        position: absolute;
        top: 18vh;
        left: 20%;
        width: 17vh;
        background: #464646;
        box-shadow: 21.5px 37.239px 65px 0px rgb( 0, 0, 0 );
        z-index: 2;
    }

}

footer{
    



    
   position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: #434b58;
    opacity: 0.89;

    .messages-box{
        margin: 20px 30px;
        font-size: 20px;
        font-family: "Coda";
        color: rgb( 8, 204, 239 );
        text-shadow:  0px 0px 10px  #08ccef;
    }
    
}






